
 

<table class="table table-striped table-sm">
  <thead>
          <tr>
             <th>#</th>
            <th>Name</th>
            <th>State</th>
            <th>Type</th>
            
            
          </tr>
        </thead>
        <tbody>
            {% for action in actions.actionQueue %}
           
            <tr>
               
                <td>{{ action.id }} </td>        
                <td>{{ action.name }} </td>        
                <td>{{ action.state }} </td>      
                <td>{{ action.actionType   }} </td>      
                
                

            </tr>
             
    {% endfor %}
    
          
        </tbody>
      </table>

