
    

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
        <div id="Overview" class="container">
            {% include 'overview.html' %}  
            </div>
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        
        <h1 class="h2">Dashboard: Last Job Execution times</h1>     
      </div>

      <!-- <canvas class="my-4 w-100" id="myChart" width="400" height="50"></canvas> -->
      <canvas class="my-4 w-100" id="actionChart" width="400" height="50"></canvas>
      

      
      <div class="table-responsive">
          
              <div class="row">
              <div class="col-sm">
                    <h3>Queue                       

                      </h3>
                    
                      <div id="queue">
                          {% include 'actionsQueue.html' %}                    
                      </div>
                </div>
                <div class="col-sm">
                    <h3>Actions
                      

                      </h3>
                    
                      <div id="actions">
                          {% include 'actions.html' %}                    
                      </div>
                </div>
                <div class="col-sm">
                    <h3>Tasks
                        <!-- Default switch -->

                       
                    </h3>
                                          
                    <div id="tasks">
                        {% include 'tasks.html' %}                    
                    </div>
                </div>
                <div class="col-sm">
                    <h3>Jobs
                       
                    </h3>
                    <div id="jobs">
                        {% include 'jobs.html' %}                    
                    </div>
                </div>
              </div>
            </div>
        
      </div>
    </main>
